# Backend Environment Variables
PORT=3000
NODE_ENV=development
FRONTEND_URL=https://proud-hill-0879b7610.3.azurestaticapps.net/

# Mailgun
MAILGUN_API_KEY=your_mailgun_api_key_here
MAILGUN_DOMAIN=your_mailgun_domain_here

# Emails
COMPANY_EMAIL=noreply@insightrtls.com
CONTACT_EMAIL=contact@insightrtls.com
